[options]
addons_path = /mnt/extra-addons,/mnt/enterprise-addons,/opt/odoo/addons
data_dir = /var/lib/odoo
admin_passwd = admin_password
db_name = odoo19
db_host = db
db_port = 5432
db_user = odoo
db_password = odoo
dbfilter = ^odoo19$
list_db = False
gevent_port = 8072
workers = 2
http_interface = 0.0.0.0
